
/***********************************************************
The main.css code is written to be viewed in mobile devices
and small screen devices.
************************************************************/



/*****************************************************************************
GENERAL
******************************************************************************/
a {
	text-decoration: none;
}


ul li {
	list-style: none;
}



/****************************************
PAGE: SIGN IN
*****************************************/


/*****************
HEADER STYLE
****************/
.header {
	text-align: center;
	padding: 1em 1.5em 5em 1.5em;
}

.header ul li {
	display: inline-block;
	padding-top: .3em;
	padding-right: .3em;	
	padding-left: .3em;
	padding-bottom: 4em;
}

.header ul li a {
	font-family: arial;
	font-size: .8em;
	color: #aaa;
}

.header ul li a:hover {
text-decoration: underline;
}

li a img {
	padding: .3em 0 0 0;
}

div ul li a button {
	border-radius: 10%;
	padding: .5em .7em;
	background-color: #1C86EE; 
	border-style: none;
	color: white;
}

div ul li a button:hover {
	box-shadow: 0 1.2px lightgrey;
}
/*****************
SECTION STYLE
****************/
section {
	display: inline-block;
	text-align: center;
}

.googlelogo {
	padding: 2em 5em .5 0;
	width: 10em;
}

input {
	background-image: url(../img/mic2.png);
	background-repeat: no-repeat;
	background-size: 7%;
	background-position: right;
}

.search {
	padding: .2em 4em;
	width: 55%;
}

.button {
	padding-left: .5em;
	padding-right: .5em;
	padding-top: 1.5em;
	margin-bottom: 50%;
}


/****************
FOOTER STYLE
****************/
.footer {
	background-color: #eee;
	padding-top: 1em;
	padding-bottom: 1em; 
}

.footer ul li {
	padding: 0 .5em 0 .5em;
	display: inline-block;
}

.footer ul li a {
	color: darkgrey;
}

.footer ul li a:hover {
	text-decoration: underline;
}

.footer ul {
	padding-bottom: 1em;
	text-align: center;
}

.footer ul:nth-child(2) {
	text-align: center;
}


/*************************************************
PAGE: SIGNED IN
**************************************************/


/*****************
HEADER
****************/




