/**********************************************************
For tablets and other larger screen resolutions
*********************************************************/


@media screen and (min-width: 480px) {

/****************************************
PAGE: SIGN IN
*****************************************/


/*****************
HEADER
****************/
header {
	float: right;
	padding-bottom: 0;
}

.header ul li a  {
	padding: 0 .25em 0 .25em;
	border-bottom: 10em;
	padding-bottom: 10em;
}



/*****************
SECTION STYLE
****************/
.section {
	display: inline-block;
	text-align: center;
}



.googlelogo {
	width: 30%;
	padding-left: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: 10%;
	margin-right: 10%;
}

.search {
	width: 50%;
	height: 2em;
	margin-left: 10%;
	margin-right: 10%;
}

input {
	background-size: 5%;
}

.button {
	padding-top: .5em;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50%;
}

/****************
FOOTER
****************/



footer {
	margin: auto;
	display: inline-block;
	font-size: 1em;
}

.footer ul li a {
	padding: 1em 1em 1em 1em;
}

.footer a:nth-child(3) {
}








/*************************************************
PAGE: SIGNED IN
**************************************************/


/*****************
HEADER
****************/




}

/**@media screen and (min-width: 660px) {

/****************************************
PAGE: SIGN IN
*****************************************/

/*****************
HEADER
****************/



/*****************
SECTION STYLE
****************/
/**#googlelogo {
	margin: auto;
}




/*****************
FOOTER
****************/



/****************************************
PAGE: SIGNED IN
*****************************************/

/*****************
HEADER
****************/



