/**********************************************************
For tablets and other larger screen resolutions
*********************************************************/


@media screen and (min-width: 480px) {

/****************************************
PAGE: SIGN IN
*****************************************/


/*****************
HEADER
****************/
header {
	float: right;
	padding-bottom: 0;
}

.header ul li a  {
	padding: 0 .25em 0 .25em;
	border-bottom: 10em;
	padding-bottom: 10em;
}



/*****************
SECTION STYLE
****************/
.section {
	display: block;
	text-align: center;
}



.googlelogo {
	width: 30%;
	padding-left: 25%;
	padding-top: 15em;
	padding-bottom: 1em;
	
}

.search {
	width: 30%;
	height: 2em;
	padding-left: 25%;

}

input {
	background-size: 5%;
}

.button {
	padding-top: .5em;
	margin-left: 20%;
	margin-bottom: 50%;
}

/****************
FOOTER
****************/



footer {
	width: 100%;
	display: inline-block;
	font-size: 1em;
}

.footer ul li a {
	font-family: arial;
	font-size: .9em; 
	padding: 1em .5em 1em .5em;
}

.footer ul li {
	padding-top: 1em;
}

.footer ul:nth-child(1) {
	float: left;
}


.footer ul li a:nth-child(3) {
	margin-right: auto;
}





/*************************************************
PAGE: SIGNED IN
**************************************************/


/*****************
HEADER
****************/




}

/**@media screen and (min-width: 660px) {

/****************************************
PAGE: SIGN IN
*****************************************/

/*****************
HEADER
****************/



/*****************
SECTION STYLE
****************/
/**#googlelogo {
	margin: auto;
}




/*****************
FOOTER
****************/



/****************************************
PAGE: SIGNED IN
*****************************************/

/*****************
HEADER
****************/



