/**********************************************************
For tablets and other larger screen resolutions
*********************************************************/


@media screen and (min-width: 480px) {

/****************************************
PAGE: SIGN IN
*****************************************/


/*****************
HEADER
****************/
header {
	float: right;
	padding-bottom: 0;
}

.header ul li a  {
	padding: 0 .25em 0 .25em;
	border-bottom: 10em;
	padding-bottom: 10em;
}



/*****************
SECTION STYLE
****************/
.section {
	display: block;
}

.googlelogo {
	width: 30%;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 26%;
	padding-right: 10%;
}

.search {
	width: 60%;
	height: 2em;
	margin: 0 0 1.5em 13em;
	padding: 0 0;
}

input {
	background-size: 5%;
}

.button {
	padding-top: .5em;
	padding-left: 10em;
	padding-bottom: 50%;
}

/****************
FOOTER
****************/



footer {
	font-size: 1em;
}

.footer ul li a {

}
.footer a:nth-child(3) {

}








/*************************************************
PAGE: SIGNED IN
**************************************************/


/*****************
HEADER
****************/




}

/**@media screen and (min-width: 660px) {

/****************************************
PAGE: SIGN IN
*****************************************/

/*****************
HEADER
****************/



/*****************
SECTION STYLE
****************/
/**#googlelogo {
	margin: auto;
}




/*****************
FOOTER
****************/



/****************************************
PAGE: SIGNED IN
*****************************************/

/*****************
HEADER
****************/



